@import '../../styles/settings.scss';

.columnForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.inputName {
  margin-bottom: $base-size;
  padding: $base-size;
  padding-right: $base-size /2 ;
}

@media (max-width: 768px) {
 .columnForm {
  width: 100%;
  flex-direction: column;
 }

 .inputName {
  margin: 0;
  padding: 0 0 $base-size / 4 0;
 }
}