@import '../../styles/settings.scss';

.navBar {
  background-color: darken($color-dark, 3%); 
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-family: $font-text;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  li {
    display: inline-block;
  }
}

.icon {
font-size: 24px;
padding: 12px;
color: white
}

.linkActive {
  color: $color-warning;
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
}
